.chat-view-message {
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 32px;
  min-height: 0;
  flex: 1 1 0%;
}

.container-message {
  margin: 5px 24px 0;
  display: flex;
  flex-direction: column;
}

.message-text {
  background: #f3f2f8;
  color: black;
  border-radius: 10px;
  padding: 6px 12px;
  margin: 2px 0 0;
  width: fit-content;
  /* max-width: 800px; */
  word-break: break-word;
  max-width: 100%;
}

.message-sender {
  /* align-self: flex-end; */
  display: flex;
  flex-direction: row-reverse;
}

.message-sender .message-avatar {
  display: none;
}

.message-sender .message-text {
  background-color: #069255;
  color: white;
}

.message-avatar {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.message-avatar img {
  border-radius: 50%;
}

.message-receiver {
  display: flex;
  align-items: flex-start;
}

.message-attachment img,
.message-attachment video {
  max-width: 450px;
  max-height: 300px;
  min-height: 100px;
  height: 100%;
  width: 100%;
  border-radius: 10px !important;
  object-fit: cover;
}

.message-text p {
  margin: 0;
}

.message-sender .message-content {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.message-attachment {
  margin: 3px 0 0;
  display: grid;
  grid-template-columns: auto auto auto;
}

.group-message {
  max-width: 56%;
}

.ant-image {
  margin: 0 2px 2px 0;
}
