@import "~antd/dist/antd.css";

.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout-sider-children {
  background: white;
  height: 100vh;
  width: 340px;
  border-right: 3px solid #f4f4f4;
}

.ant-layout {
  background-color: #fff;
}

.header-channel-list {
  display: flex;
  margin: 0px 0px 4px;
}

.trigger {
  height: 54px;
  width: 300px;
  padding: 5px 12px;
  display: flex;
  align-items: center;
}

.noti-website {
  margin-bottom: -6px;
  cursor: pointer;
  padding-right: 20px;
  height: 27px;
  width: 40px;
  align-items: center;
}
<<<<<<< HEAD

.search-wrapper {
  width: 340px;
  display: flex;
  height: 44px;
  justify-content: center;
  position: relative;
}

#container-channel-list {
  display: flex;
  width: 100%;
  position: relative;
}

.input-search {
  width: 100%;
  border: none;
  margin: 0 8px;
  padding: 4px 0 4px 40px;
  border-radius: 10px;
  font-size: 14px !important;
  background-color: #f4f4f4;
}

.icon-search {
  width: 14px;
  position: absolute;
  top: 35%;
  left: 24px;
  color: #999;
  display: flex;
  align-items: center;
}

.btn-filter {
  display: flex;
  align-items: center;
  position: absolute;
  top: 5%;
  right: 25px;
  padding: 10px;
  cursor: pointer;
  color: #959595;
}

.anticon {
  text-align: center;
  position: absolute;
  top: 47%;
  right: 21px;
  color: #959595;
  font-style: normal;
  font-size: 10px;
  cursor: pointer;
}
=======
.badge-icon {
  box-sizing: border-box;
  margin: 5px 15px 0 0;
  color: black;
  font-size: 14px;
  position: relative;
  display: inline-block;
  line-height: 1;
}

.name-website {
  color: black;
  font-size: 25px;
  font-weight: 700;
  overflow: hidden;
  line-height: 2;
  text-overflow: ellipsis;
  width: 50px;
  flex: 1 1;
}

.noti-website {
  margin: 16px 0 11px 0;
  cursor: pointer;
  padding-right: 20px;
  align-items: center;
}


>>>>>>> Pacmanzzz
