@import "~antd/dist/antd.css";

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.site-layout .site-layout-background {
  background: #fff;
}
.ant-layout-header {
  background: #fff !important;
  border-bottom: #f4f4f4 solid 1px;
  display: flex;
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
}
.ant-layout-sider-children {
  background: white;
  height: 100vh;
  border-right: 2px solid #f4f4f4;
}

.ant-layout {
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
}

.ant-layout-content {
  height: calc(100vh - 110px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}

.header-channel-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 4px;
  padding: 8px 12px;
}

.header-left {
  display: flex;
  align-items: center;
}

.name-website {
  margin-left: 15px;
  color: #000;
  font-size: 22px;
  font-weight: 700;
  line-height: 2;
}

.search-wrapper {
  position: relative;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  height: 44px;
}

.search-wrapper .input-search {
  outline: none;
  border: none;
  width: 100%;
  margin: 0 8px;
  padding: 4px 0 4px 40px;
  font-size: 14px !important;
  border-radius: 10px;
  background: #f4f4f4;
  touch-action: manipulation;
  -webkit-appearance: none;
}

.icon-search {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 24px;
  color: #999;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.btn-filter {
  font-size: 14px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 12px;
  padding: 10px;
  cursor: pointer;
  color: #959595;
}

.list_channel_inter {
  position: absolute;
  overflow-y: scroll;
  height: 100̀̀%-145px;
  max-height: 100%-145px;
}
