.ant-drawer .ant-drawer-content {
  width: 340px;
  height: 100%;
}

.ant-drawer-content-wrapper {
  width: 340px !important;
}

.ant-drawer-body {
  padding: 0px;
}

.sidebar_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-top: -0.1px;
  padding-top: 0.1px;
  background: rgba(24, 40, 37, 0.92);
}

.user_info {
  background: rgba(24, 40, 37, 0.92);
  height: 10.6%;
  width: 100%;
  padding: 3px !important;
  position: relative;
  color: #fff;
  cursor: pointer;
  border-bottom: #fff solid 1px;
}

.sub_info_user {
  display: flex;
  align-items: center;
  color: #4a4a4a;
  margin: 12px;
}

.user_avatar img {
  border-radius: 50%;
  max-width: 52px;
  max-height: 52px;
  object-fit: cover;
  vertical-align: middle;
}
.user_avatar {
  position: relative;
}

.user_detail {
  margin: 0 0 0 8px;
  display: flex;
  flex-direction: column;
}

.username {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.user_position {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  margin: 0px;
}

.sidebar_content {
  position: relative;
  height: 89.4%;
}

.menu_section {
  display: block;
  position: relative;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  padding: 17px 12px;
  border-bottom: 0.5px solid rgb(255, 255, 255, 0.2);
}

.menu_section:focus {
  background-color: #cee0d4;
  color: #14a05b;
}

.menu_section:hover {
  background-color: #75937f;
  color: black;
}

.ant-badge {
  cursor: pointer;
}
